@import '../assets/kyivtypeserif.css';


.luck-tester-container {
  text-align: center;
  font-family: 'Kyiv Type Serif', serif;
  font-weight: 500;
  color: #000000;
}

.dark .luck-tester-container {
    color: #fff;
}

@media (prefers-color-scheme: dark) {
  .luck-tester-container {
      color: #fff;
  }
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid;
  border-color: #00A900;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle.green {
  background-color: #31F12A;
  border-color: #00A900;
}

.circle.red {
  background-color: #F12A2A;
  border-color: #A90000;
}

.guess-button {
  padding: 10px 48px;
  margin: 0 20px;
  color: #000000; /* Цвет текста на кнопках */
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 64px;
  height: 32px;
}

.guess-button.green {
  background-color: #31F12A;
  margin-bottom: 20px;
}

.guess-button.red {
  background-color: #F12A2A;
}

.guess-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.guess-button:disabled {
  background-color: #D9D9D9;
  border-color: #D9D9D9;
  cursor: not-allowed;
}

.result {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    margin-top: 8px;
}

.heading {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 10px;
    font-weight: 500;
}

.label {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.result-value {
    font-size: 20px;
}

.reset-button {
    font-size: 12px;
    font-family: inherit;
    margin-top: 28px;
    padding: 4px 4px;
    background-color: #D9D9D9;
    color: #000000;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  .reset-button:hover {
    background-color: #bcbcbc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }